// Colores
$black: #000000;
$dark-gray: #555555;
$gray: #777777;

$coral: #e6887d;
$light-coral: #e6b7b2;
$p-coral: #ddb6b1;


/* helpers */
.mr-20 {
	margin-right: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.ml-30 {
	margin-left: 30px;
}

.tac { 
	text-align: center; 
}

.pt4 {
	padding-top: 4px;
}

.pl-50 {
	padding-left: 50px;
}

.pr-50 {
	padding-right: 50px;
}
/* /helpers */